*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #660066;
}

.navbar{
    position: fixed;
    display: flex;
    width: 100%;
    background-color: #2850a0;
    height: 3rem;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0 1px 1px  #812e81
}

.flex-1{
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 1rem;
    
}

.login-container{
    position: absolute;
    display: flex;
    top: 3rem;
    width: 100%;
    height: 100%;
    z-index: -1;
    align-items: center;
    justify-content: center;
}

.login-box{
    height: 500px;
    width: 650px;
    background-color: #ffffff;
    opacity: 0.85;
    box-shadow: 2px 1px 15px 10px hsl(300, 90%, 9%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.flex-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-input{
    margin-bottom: 1rem ;
    width: 350px;
    border: 2px solid #341a7b;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
}




.flex-img-logo{
    position: relative;
    align-self: center;
    justify-self: flex-start;
}

.flex-button{
    border: 2px solid #341a7b;
    background-color: #ffffff;
    padding-top: 4px;
    padding-bottom: 4px;
    transition:0.25s;
    width: 175px;
    align-self: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.flex-button:hover{
    color:#ffffff;
    box-shadow: 1px 1px 1px 1px hsl(256, 60%, 15%);
    background-color: #341a7b;
}

.icon-flex{
    display: flex;
    align-content: center;
}